include README.md
include awesome_panel_extensions/*.json
include awesome_panel_extensions/index.ts
include awesome_panel_extensions/bokeh_extensions/*.ts
include awesome_panel_extensions/developer_tools/designer/designer.*
include awesome_panel_extensions/frameworks/fast/templates/fast_gallery_template/*
global-exclude *.py[co]
global-exclude *~
global-exclude *.ipynb_checkpoints/*
graft awesome_panel_extensions/dist