include README.md
include LICENSE
graft src/awesome_panel_extensions/dist
include src/awesome_panel_extensions/*.json
include src/awesome_panel_extensions/bokeh_extensions/*.ts
include src/awesome_panel_extensions/developer_tools/designer/designer.*
include src/awesome_panel_extensions/frameworks/fast/assets/css/*
include src/awesome_panel_extensions/frameworks/fast/assets/js/*
include src/awesome_panel_extensions/site/gallery/*
include src/awesome_panel_extensions/frameworks/fast/templates/fast_gallery_template/*
include src/awesome_panel_extensions/frameworks/fast/templates/fast_grid_template/*
include src/awesome_panel_extensions/frameworks/fast/templates/fast_list_template/*
include src/awesome_panel_extensions/index.ts
global-exclude *.ipynb_checkpoints/*
global-exclude *.py[co]
global-exclude *~