.bk-root .bk-tabs-header {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .bk-root .bk-tabs-header .bk-btn-group {
    height: auto;
    margin-right: 5px;
  }
  .bk-root .bk-tabs-header .bk-btn-group > .bk-btn {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    height: auto;
    padding: 4px 4px;
  }
  .bk-root .bk-tabs-header .bk-headers-wrapper {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow: hidden;
    color: #666666;
  }
  .bk-root .bk-tabs-header.bk-above .bk-headers-wrapper {
    border-bottom: none;
  }
  .bk-root .bk-tabs-header.bk-right .bk-headers-wrapper {
    border-left: none;
  }
  .bk-root .bk-tabs-header.bk-below .bk-headers-wrapper {
    border-top: none;
  }
  .bk-root .bk-tabs-header.bk-left .bk-headers-wrapper {
    border-right: none;
  }
  .bk-root .bk-tabs-header.bk-above,
  .bk-root .bk-tabs-header.bk-below {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .bk-root .bk-tabs-header.bk-above .bk-headers,
  .bk-root .bk-tabs-header.bk-below .bk-headers {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .bk-root .bk-tabs-header.bk-left,
  .bk-root .bk-tabs-header.bk-right {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .bk-root .bk-tabs-header.bk-left .bk-headers,
  .bk-root .bk-tabs-header.bk-right .bk-headers {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .bk-root .bk-tabs-header .bk-headers {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
  }
  .bk-root .bk-tabs-header .bk-tab {
    padding: 4px 8px;
    border: solid transparent;
    white-space: nowrap;
    cursor: pointer;
  }
  .bk-root .bk-tabs-header .bk-tab:hover {
    background: transparent;
    color: var(--neutral-foreground-hover);
  }
  .bk-root .bk-tabs-header .bk-tab.bk-active {
    color: var(--accent-foreground-rest);
    background-color: var(--neutral-fill-active);
    border: none;
    border-radius: calc(var(--corner-radius) * 1px);
    border-bottom: 20px solid var(--accent-foreground-rest);
  }
  .bk-root .bk-tabs-header .bk-tab.bk-active:hover {
    background: var(--neutral-fill-hover);
    color: var(--accent-foreground-hover);
  }
  .bk-root .bk-tabs-header .bk-tab .bk-close {
    margin-left: 10px;
  }
  .bk-root .bk-tabs-header.bk-above .bk-tab {
    border-width: 0px 0px 2px 0px;
    border-radius: 4px 4px 0 0;
  }
  .bk-root .bk-tabs-header.bk-right .bk-tab {
    border-width: 1px 3px 1px 0px;
    border-radius: 0 calc(var(--corner-radius) * 1px) calc(var(--corner-radius) * 1px) 0;
  }
  .bk-root .bk-tabs-header.bk-below .bk-tab {
    border-width: 0px 1px 3px 1px;
    border-radius: 0 0 4px 4px;
  }
  .bk-root .bk-tabs-header.bk-left .bk-tab {
    border-width: 1px 0px 1px 3px;
    border-radius: 4px 0 0 4px;
  }