{
    "name": "Hello World Sketch",
    "author": "Marc Skov Madsen",
    "description": "A small Hello World Sketch for testing",
    "links": ["https://awesome-panel.org"],
    "license": "MIT",
    "js_files": {},
    "css_files": [],
    "builder": {"class": "TranscryptSketchBuilder", "parameters": {"build_from_scratch": true, "no_minification": true, "generate_source_map": true, "build_notebook": false, "build_pane": false}}
}